header.header
      .row.clearfix
        .header__logoBox
          img.header__logo(src='/img/utils/origLogo.png')
        if user
          .header__createButtonBox
              a.btn.header__createButton(href='/createRoom') Create Rooms
        .header__contentBox
         if user
            a.btn#header__contentBox--logOut Log Out        
            a.nav__user(href='/me' , data-userId=`${user.id}`)
                -const def = `${user.photo === 'default.jpg' ? '/img/users/' : ''}`
                img.nav__user--img(src=`${def}${user.photo}` alt=`Photo of ${user.name}`)
                span.nav__user--name= user.name.split(' ')[0]
         else
            a.btn.header__contentBox--loginBtn(href='/login') Log In
            a.btn.header__contentBox--signUpBtn(href='/signup') Sign Up
         