extends overview

block midContent
   if user
      .allMessages
        each chat in roomCame.allChats
            - const position = `${chat.user.toString() === user.id.toString() ? 'right' : 'left'}`
            .fullWidthContainer.clearfix
              .wholeMessage(class=`${position}`)
                .msg-box(data-chatId = chat.id data-chatuser=chat.user)
                  .senderName= `${chat.timestamp}` 
                  .msg-box--message= `${chat.message}`
                  .msg-box--helper.clearfix
                    .contextMenu
                      .contextMenuSpan
                        span
                    .senderName= `${chat.userName}`
      
      .messageContainer
        input#messageContainer--input(type='text' placeholder='Type a message' name='originalMsg')
        img#sendButton(src='/img/utils/paper-plane.png' alt='send-button')

